

body {
	margin: 0 auto;
	letter-spacing: 1.5px;
	background-image: url("https://raw.githubusercontent.com/amr08/MentorProject/master/assets/images/ppl.jpg");
    background-attachment: fixed;
    background-size: 2000px;

}

/*general hiding and showing*/
.hide {
	display: none;

}

.show {
	display:block;

}

.hides {
	visibility: hidden;
}

.shows {
	visibility: visible;
}

/****************/

#heading {
	position: fixed;
	height: 90px;
	width: 100%;

}

section {
	background-color:#1b1c1d;
	height: 680px;
	margin: 0 auto;
	padding-top: 0px;
	text-align: center;

}

#title {
	position: relative;
	top: 240px;

}

.container h1 {
	font-size: 80px;
	color: white;

}

.container h2 {
	color: white;
	font-size: 21px;

}

#about {
    position: relative;
	top: 25px;

}

.imgSize {
	width: 400px;
	height: 350px;
}

#page2 {

	background-image: url("https://raw.githubusercontent.com/amr08/MentorProject/master/assets/images/background.png");
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	padding: 25px;
	min-height: 1500px;
		
}

.pageTitleText {
	font-size: 55px;
	text-align: center;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: black;	
	padding-top: 50px;
	font-weight: bolder;

}

.page2Title {
    padding: 40px;
	font-size: 60px;
	font-weight: bold;
	width: 70%;
	margin-left: 20px;
	text-shadow: 5px 5px 20px grey;

}

#floatLeft {
	float: left;
	margin-left: 2%;
	margin-top: 8px;
	
}

#headerIcons {
	float: right;
	margin-right: 2%;
	padding: 10px;

}

a p {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.thumbnail {
	margin: 0 auto;
	margin-top: 100px;
	background: #1b1c1d;
	color: white;
	box-shadow: 0px 0px 20px black;

}


a {
	width: 100%;
	height: 100%;
	text-decoration: none;

}

	a:focus, a:hover {
	    color: #6dffff;
	    text-decoration: none;

	}

#menu {
	position:fixed;
	float: right;
	top: 35px;
	right: 35px;
	text-align: center;
	z-index:1;

}

	#menu:hover {
		transform: scale(1.1); 

	}

#dropDown {
	width: 100%;

}

#page3 {

	background-image: url("https://raw.githubusercontent.com/amr08/MentorProject/master/assets/images/ppl.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 1250px;
	
}

#mentor {
	padding:20px;
	margin: 20px;

}

#mentee{
	padding:20px;

}

#mentorNetwork {
	background-color: #1b1c1d;
	color: white;
	border-radius: 10px;
	float: left;
	padding: 10px;
	padding-bottom: 30px;
	margin-top: 500px;
	margin-left: 80px;
	width: 50%;


}

#mentorNetwork h3 {
	font-size: 25px;
	padding: 20px;
	padding-bottom: 30px;

}

#wrapper2 {
	background-color: #1b1c1d;
	height: 200px;
	margin: 0 auto;
	padding: 25px;
	width: 100%;
	position: absolute;

}

#break {
	font-size: 50px;
	color: white;
	text-align: center;
	position: relative;
	top: 35px;

}

#form {
	float: right;
	margin-top:500px;
	margin-right: 80px;
	font-size: 18px;
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-align: left;
	width: 35%;
	padding: 25px;
	border-radius: 10px;
	background: #1b1c1d;
	opacity: .8;
	

}

h4 label{
	color: white;
	font-size: 18px;
	padding: 10px;

}

.ui.radio.checkbox label{
	color: white;

}






/*/////////// API AREA*/


#media {
	margin: 0 auto;
	width: 90%;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	text-align: center;	
	margin-top: 100px;
	min-height: 700px;
	background-image: url("https://raw.githubusercontent.com/amr08/MentorProject/master/assets/images/corkboard-004.jpg");
	background-size: 1500px;
	padding: 30px;
	color: white;

}

#youtube {
	margin: 0;
	width: 80%
	background: white;

}

.whiteBorder {
	box-shadow: 0px 0px 20px black;
	
}

#googleSearch {
	margin-top: 50px;

}

.items {
	background-color: white;
	margin: 0 auto;
	border-radius: 10px;
	padding: 20px;
	font-size: 20px;
	width: 70%;
	margin-bottom: 20px;
	color: black;

}

.vidTitle {
	font-size: 18px;
	padding:10px;
	font-weight: bold;
	margin-top: 20px
	margin-bottom: 20px;

}

.twoButtons {
	margin: 20px;

}

#wrapper3 {
	min-height: 800px;
	background-image: url("https://raw.githubusercontent.com/amr08/MentorProject/master/assets/images/NS_2002_Slider_Location_940x400_ART_R1_Background.png");
   background-size: 100%;
   background-attachment: fixed;
}

.column {

	display: inline-block;
	margin: 20px;
	width: 150px;
	font-size: 16px;
	padding: 10px;


}

#network {
	width:700px;
	float: left;
	margin-left: 50px;
	height: 100%;
	background: white;
	border-radius: 10px;

}

#showNetwork {
		padding: 20px;

}

#success {
	color: white;
	font-size: 35px;
	width: 100%;
	top: 150px;
	position: relative;
	text-align: center;

}

#success button{
	font-size: 18px;
	margin: 20px;

}

.border {
	border-bottom: 1px solid grey;
	margin-bottom: 20px;

} 


/*Google Maps area*/


#map {
	height: 400px;
	width: 40%;
	float: right;
	margin-right: 50px;

}

#pac-input {
	width: 200px;

}

#city {
	width: 200px;

}


/*regular screen*/
	@media screen and (max-width: 980px) {
		
		#mentorNetwork {
			margin-left: 20px;

		}


		#map {
			float: left;
			top: 20px;
			left: 200px;			

		}

		#wrapper3 {
			min-height: 1200px;

		}



}
/*tablet*/
	@media screen and (max-width: 768px) {

		#mentorNetwork {
			margin-left: 10px;
			width:40%;
			margin-top: 300px;


		}
	
		#form {
			height: 60%;
			width: 40%;
			margin-top: 300px;
		}
		
		#mentee {
			margin-bottom: 15px;
			margin-left: 5px;
	
	
		}

		#map {
		   	width: 50%;

		}
}

/*phone in landscape*/
	@media screen and (max-width: 640px) {

		#mentorNetwork {
			width: 100%;
			margin-bottom: 0px;


		}

		 #form {
			
			width: 90%;
			margin-top: 20px;
			margin-right: 20px;
			margin-bottom: 30px;


		}

		#network {
			width: 80%;
		}

		#wrapper3 {
			min-height: 1500px;

		}



}
		
		


